@media screen and (max-width: 375px) {
  .heading-primary--main {
    font-size: 0.5rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #eeeeee; }

main {
  padding: 3rem; }

body {
  font-weight: 400;
  line-height: 1.7; }

@font-face {
  font-family: 'Lato';
  src: url(../../assets/font/Lato/Lato-Black.ttf) format("truetype"); }

@font-face {
  font-family: 'fugaz';
  src: url(../../assets/font/Fugaz_One/FugazOne-Regular.ttf) format("truetype"); }

.heading-primary--nav {
  color: #fff;
  font-size: 3.5rem; }

.heading-primary--main {
  color: #fff;
  font-size: 8rem;
  letter-spacing: 3rem; }

.heading-primary--sub {
  color: #fff;
  font-size: 2.4rem; }

h1 {
  text-transform: uppercase;
  font-family: "fugaz"; }

h2 {
  text-transform: uppercase;
  font-family: "fugaz"; }

h3 {
  text-transform: uppercase;
  font-family: "fugaz"; }

h4 {
  text-transform: uppercase;
  font-family: "fugaz"; }

h5 {
  text-transform: uppercase;
  font-family: "fugaz"; }

h6 {
  text-transform: uppercase;
  font-family: "fugaz"; }

p {
  font-family: "Lato"; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn {
  padding: 1rem 1rem;
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
  list-style: none;
  background-color: #ec6c01; }

.advertising {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: 3rem; }
  .advertising__box {
    width: 50vh;
    height: 50vh;
    background-color: #2d58c8;
    border-radius: 1rem;
    box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.2); }

.product {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  width: 32rem; }
  .product__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3rem;
    width: 100%;
    overflow: hidden; }
    .product__side--front {
      background-color: #fff; }
    .product__side--back {
      transform: rotate(180deg); }
  .product:hover .product__side--front {
    transform: rotateY(-180deg); }
  .product:hover .product__side--back {
    transform: rotateY(0); }
  .product__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }

.home {
  margin: 3rem; }

.navigation_box {
  background-color: #274BA8;
  padding: 0; }

.navigation {
  display: flex;
  flex-direction: row;
  list-style: noen;
  justify-content: flex-start;
  flex-wrap: nowrap; }

.logo__img {
  padding-bottom: 1rem;
  position: relative;
  left: 1rem; }
