//color 

//color primary

$color-primary: #2d58c8;
$color-primary-light: #7795e1;
$color-primary-dark: #274BA8;

//Color secondary

$color-secondary: #ec6c01
$color-secondary-dark: #db6348;

//Color 3rd

$color-triadic: #9CED1F;
$color-gray-dark: #777;
$color-white:#fff;
$color-black:#000;