.product {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 52rem;
    width: 32rem;
    background-color: $color-primary;
    border-radius: 3rem;
    border: 1rem solid $color-primary;

    &__side {
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 3rem;
        width: 100%;
        overflow: hidden;

        &--front {
            background-color: $color-white;

        }

        &--back {
            transform: rotate(180deg);
            
        }
    }

    &:hover &__side--front {
        transform:rotateY(-180deg);
    }
    &:hover &__side--back {
        transform:rotateY(0);
    }

    &__picture {
        position: relative;
        top: 1rem;
        height: 4rem;
        background-image: url(../../assets/img/Logo_small.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-blend-mode: screen;

        &--1 {
            position: relative;
            height: 10rem;
            top: 1.3rem;
            background-image: url(../../assets/img/productheader.svg);
            background-repeat: no-repeat;
            background-position: top;
        }
    }
    &__heading {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: $color-white;
        font-size: 2.5rem;
    }
    
}